Repository i-dipanshu/end-to-end-circleci-dynamic-workflow: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-backend-workflow, run-frontend-workflow, run-src-2-workflow

trigger all the workflow
  .circleci/workflow.yml
  README.md
  manifests/deploy.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

changed base revision to master
  .circleci/config.yml
Due: none

trigger all the workflows
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

trigger all the three workflows parallel
  .circleci/config.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

trigger all the workflow in parallel
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

trigger all three workflow parallel
  .circleci/workflow.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

trigger frontend workflow to test deployment image updater
  .circleci/workflow.yml
  cluster.yml
  manifests/deploy.yml
  manifests/service.yml
  src-1/frontend/index.html
Due: run-frontend-workflow

trigger the complete workflow
  .circleci/workflow.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

trigger the entire workflow
  .circleci/workflow.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

triggers all the workflow
  .circleci/workflow.yml
  src-1/backend/index.html
  src-1/frontend/index.html
  src-2/sample.txt
Due: run-backend-workflow, run-frontend-workflow

add logic to handle tags
  .circleci/workflow.yml
Due: none

Trigger backend workflow
  src-1/backend/index.html
Due: run-backend-workflow

Fix regex
  .circleci/workflow.yml
Due: none

Test
  .circleci/config.yml
  src-1/backend/index.html
Due: run-backend-workflow

test new config
  .circleci/workflow.yml
Due: none

backend
  src-1/backend/index.html
Due: run-backend-workflow

trigger backend
  .circleci/workflow.yml
  src-1/backend/index.html
Due: run-backend-workflow

trigger backend
  .circleci/config.yml
  src-1/backend/index.html
Due: run-backend-workflow

update config
  .circleci/config.yml
  .circleci/workflow.yml
Due: none

Backend Workflow
  src-1/backend/index.html
Due: run-backend-workflow

Trigger Backend
  src-1/backend/index.html
Due: run-backend-workflow

Update Config
  .circleci/workflow.yml
Due: none

Multiple Tags
  .circleci/workflow.yml
  src-1/backend/index.html
Due: run-backend-workflow

add conditional
  .circleci/workflow.yml
Due: none

add conditional
  .circleci/workflow.yml
  src-1/backend/index.html
Due: run-backend-workflow

Trigger Backend
  .circleci/workflow.yml
  src-1/backend/index.html
Due: run-backend-workflow

Trigger Backend Workflow
  .circleci/workflow.yml
  src-1/backend/index.html
Due: run-backend-workflow

Trigger Backend
  .circleci/workflow.yml
Due: none

Path conditions:
  run-backend-workflow: any of: src-1/backend/.*
  run-frontend-workflow: any of: src-1/frontend/.*
  run-src-2-workflow: any of: src-2/*
